<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>果大侠后台管理</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/base.css">
    <block name="css"></block>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SST项目</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <p class="navbar-text pull-right">
        用户名:<a href="#" class="navbar-link">{:session('adminname')}</a>
        </p>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">订单<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li id="order_list"><a href="{:U('Admin/Index/order_list')}">订单详情</a></li>
                  <li id="order_edit"><a href="{:U('Admin/Index/order_edit')}">订单管理</a></li>
              </ul>
            </li>
            <li id="userorder_list"><a href="{:U('Admin/Index/userorder_list')}">用户订单</a></li>
            <li id="customer_edit"><a href="{:U('Admin/Index/customer_edit')}">客户管理</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">工具<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li id="calendar"><a href="{:U('Admin/Index/calendar')}">日程安排</a></li>
                <li id="invoice"><a href="{:U('Admin/Index/invoice')}">发票打印</a></li>
              </ul>
            </li>
            <li id="logout"><a href="{:U('Admin/Index/doLogout')}">退出系统</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid theme-showcase" role="main">
        <block name="content"></block>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <block name="script"></block>
  </body>
</html>
