<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>SST管理后台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/login.css">
  </head>

  <body>
    <div class="container">
      <form class="form-signin" action="doLogin" method="post">
        <h3 class="form-signin-heading">SST管理后台</h3>
		<div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input id="inputEmail" name="adminName" class="form-control" placeholder="Admin Name" required autofocus>
		</div>
		<div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			<input id="inputPassword" type="password" name="password" class="form-control" placeholder="Password" required>
		</div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="1" name="remember"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">登陆</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>
