
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>招商加盟</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Bootstrap theme -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger-theme-future.css">
<link rel="stylesheet" href="__PUBLIC__/Common/areaselect/css/areaselect.css">
<style type="text/css">  
    label.error {  
        color: red;/*错误信息的颜色*/  
    }  
    input.error {  
        border:1px dotted
        red;/*输入错误的输入框的边框样式*/  
    }  
</style>  

</head>

<body role="document">
<div class="container-fluid theme-showcase" role="main">
    <form id="form" class="form-horizontal" action="doCooperation/openId/{$openId}" method="post" >

        <legend>招商加盟</legend>
        <font color="#FF0000">感谢您对鈊龙控制卡的关注和支持，请如实填写以下信息，我们会尽快联系您。</font>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"><font color="#FF0000">*</font>姓名</label>
            <div class="col-sm-10">
                <input class="form-control" name="name" title="不能为空" required autofocus maxLength="32">
            </div>
        </div>

        <div class="form-group">
            <label for="sex" class="col-sm-2 control-label"><font color="#FF0000">*</font>性别</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="sex" value="1" checked="checked"> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="0"> 女
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="telephone" class="col-sm-2 control-label"><font color="#FF0000">*</font>联系电话</label>
            <div class="col-sm-10">
                <input class="form-control" name="telephone" pattern="^\d{10,12}$" title="10-12位数字" required>
            </div>
        </div>

        <div class="form-group">
            <label for="company" class="col-sm-2 control-label"><font color="#FF0000">*</font>公司名称或个人</label>
            <div class="col-sm-10">
                <input class="form-control" name="company" title="不能为空" required>
            </div>
        </div>

        <div class="form-group">
            <label for="location" class="col-sm-2 control-label"><font color="#FF0000">*</font>所在区域</label>
            <div class="col-sm-3">
                <input class="form-control" id="pr" name="pr" readonly="readonly" type="text" placeholder="省份" title="不能为空" required/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" id="ci" name="ci" readonly="readonly" type="text" placeholder="城市" title="不能为空" required/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" id="co" name="co" readonly="readonly" type="text" placeholder="县级"/>
            </div>
        </div>

        <div class="form-group">
            <label for="loaction" class="col-sm-2 control-label"><font color="#FF0000">*</font>联系地址</label>
            <div class="col-sm-10">
                <input class="form-control" name="location" title="不能为空" required>
            </div>
        </div>

        <div class="form-group">
            <label for="shipments" class="col-sm-2 control-label"><font color="#FF0000">*</font>预计年出货量</label>
            <div class="col-sm-10">
                <input class="form-control" name="shipments" pattern="^\d{1,12}$" title="数字" placeholder="单位万元" required>
            </div>
        </div>

        <button type="submit" id="subbutton" class="btn btn-success btn-lg btn-block">提交</button>
    </form>
</div>
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/bower_components/messenger/build/js/messenger.min.js"></script>
<script src="__PUBLIC__/bower_components/messenger/build/js/messenger-theme-future.js"></script>
<script src="__PUBLIC__/Common/areaselect/js/data.js"></script>
<script src="__PUBLIC__/Common/areaselect/js/areaselect.js"></script>
<script src="__PUBLIC__/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="__PUBLIC__/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#form').validate({
        submitHandler: function(form) {
            $('#subbutton').attr('disabled', 'disabled');
            form.submit();
        }
    });
    new locationCard({
ids: ['pr', 'ci', 'co'],
    onProvinceSelect: function (name) { alert('iii'); }
    }).init();
});
</script>
</body>
</html>
