<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>提交成功</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Bootstrap theme -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<style type="text/css">
body {background-color: #FFFFFF}
</style>
</head>

<body role="document">
<div class="container-fluid theme-showcase" role="main">
    <div class="row">
        <div class="panel panel-default text-center panel-success">
            <div class="panel-heading">提交成功</div>
            <div class="panel-body">
                您的请求提交成功！
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</script>
</body>
</html>
