<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>在线订单</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Common/jquery-spinner/css/jquery.spinner.css" />

    </head>

    <body role="document">
        <div class="container-fluid theme-showcase text-center" role="main">
        <form class="form-horizontal" action="doOrder/openId/{$openId}" method="post" onsubmit="return check();">
            <volist name="products" id="product">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="{$product.imageUrl}" alt="...">
                        <center>
                            <div class="caption">
                                <h3>{$product.name}</h3>
                                <p>{$product.description}</p>
                                <p>单价：{$product.price}元</p>
                                <input type="text" name="{$product.id}" data-price="{$product.price}" class="count"/>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            </volist>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="name" value="{$order.name}" required>
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <input class="form-control" name="phone" value="{$order.phone}" pattern="^\d{11,11}$" title="18045473099" required>
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="col-sm-2 control-label">发货地址</label>
                <div class="col-sm-10">
                    <input class="form-control" name="location" value="{$order.location}" required>
                </div>
            </div>

			<div class="panel panel-default">
				<div class="panel-heading">订单金额</div>
				<div class="panel-body">
                    订单金额：￥<font size="6" color="#4FA74F"><strong id="total">0.0</strong></font>元
				</div>
			</div>
            <input type="hidden" id="amount" name="amount" value="0"/>
            <div style="margin:0px 0px 10px 0px">
                <button id="subbutton" type="submit" class="btn btn-success btn-lg btn-block">提交订单</button>
			</div>
            </form>
        </div>
        <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/Common/jquery-spinner/js/jquery.spinner.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                    $('.count').spinner({});
                    $('.count').on('update', function(oops, field, value){
                        var total = 0;
                        $('.count').each(function() {
                            total += $(this).attr('data-price') * $(this).val()
                        });
                        $('#total').text(total.toFixed(2));
                        $('#amount').val(total.toFixed(2));
                    });
            });
            function check() {
                if($('#amount').val() == 0) {
                    alert('请选择产品！');
                    return false;
                }
                getElementById('subbutton').disabled = true;
                return true;
            }
        </script>
</body>
</html>
