<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>下单成功</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Bootstrap theme -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<style type="text/css">
body {background-color: #FFFFFF}
</style>
</head>

<body role="document">
<div class="container-fluid theme-showcase" role="main">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">订单详情</div>
            <div class="panel-body">
                XX  XX元  XX个</br>
                XX   XX元  XX个</br>
                合计：XXX元</br>
                联系人：</br>
                联系电话：</br>
                收货地址：</br>
                请将<font color="#FF0000">100元</font>汇款到以下帐户，转款时请在备注栏填写“<font color="#FF0000">123456</font>”，3天未付款订单会被系统自动取消。</br>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">汇款信息</div>
            <img style="height:auto;max-width:100%" src="__PUBLIC__/Wechat/images/yh.png" />
        </div>
    </div>
</div>
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</script>
</body>
</html>
