<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>下单成功</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    </head>

    <body role="document">
        <div class="container-fluid theme-showcase text-center" role="main">
            <div class="row">
            <h1>订单号：{$code}，请汇款时附注此订单号！否则，将无法为您及时发货！</h1>
            </div>
        </div>
        <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        </script>
</body>
</html>
