<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="__PUBLIC__/Common/jquery.mobile/css/jquery.mobile.custom.structure.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Common/jquery.mobile/css/jquery.mobile.custom.theme.min.css">
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="__PUBLIC__/Common/jquery.mobile/js/jquery.mobile.custom.min.js"></script>
    </head>
    <body>

        <div data-role="page" id="pageone">
            <div data-role="header">
                <h1>在此处插入标题</h1>
            </div>

            <div data-role="content">
                <p>在此处插入正文</p>
                <div data-role="collapsible">
                  <h1>点击我 - 我可以折叠！</h1>
                    <p>我是可折叠的内容。</p>
                </div>
            </div>

            <div data-role="footer">
                <h1>在此处插入页脚文本</h1>
            </div>
        </div> 

    </body>
</html>
