<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>鈊龙后台管理</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/base.css">
        <block name="css"></block>
    </head>

    <body role="document">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">鈊龙后台管理</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <p class="navbar-text pull-right">
                用户名:<a href="#" class="navbar-link">{:session('adminname')}</a>
                </p>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a href="#rgister" class="dropdown-toggle" data-toggle="dropdown">注册用户<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="register1"><a href="{:U('Admin/Page/register1')}">普通客户</a></li>
                        <li id="register2"><a href="{:U('Admin/Page/register2')}">工程人员</a></li>
                        <li id="register3"><a href="{:U('Admin/Page/register3')}">销售人员</a></li>
                        <li id="register4"><a href="{:U('Admin/Page/register4')}">申请经销商</a></li>
                        <li id="register5"><a href="{:U('Admin/Page/register5')}">经销商</a></li>
                        <li id="register6"><a href="{:U('Admin/Page/register6')}">代理商</a></li>
                        <li id="register7"><a href="{:U('Admin/Page/register7')}">特邀客户</a></li>
                    </ul>
                    </li>
                    <li id="order"><a href="{:U('Admin/Page/order')}">用户订单</a></li>
                    <li id="question"><a href="{:U('Admin/Page/question')}">提交问题</a></li>
                    <li id="cooperation"><a href="{:U('Admin/Page/cooperation')}">招商加盟</a></li>
                    <li id="custom"><a href="{:U('Admin/Page/custom')}">定制项目</a></li>
                    <li class="dropdown">
                    <a href="#resource" class="dropdown-toggle" data-toggle="dropdown">资源管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="text"><a href="{:U('Admin/Page/text')}">文本管理</a></li>
                        <li id="news"><a href="{:U('Admin/Page/news')}">图文管理</a></li>
                        <li id="product"><a href="{:U('Admin/Page/product')}">商品管理</a></li>
                        <li id="menu"><a href="{:U('Admin/Page/menu')}">菜单管理</a></li>
                        <li id="menu_action"><a href="{:U('Admin/Page/menu_action')}">消息绑定</a></li>
                        <li id="fcode"><a href="{:U('Admin/Page/fcode')}">邀请码管理</a></li>
                        <li id="send"><a href="{:U('Admin/Page/send_template')}">群发模板</a></li>
                        <li id="sends"><a href="{:U('Admin/Page/sends')}">群发记录</a></li>
                        <li id="cache"><a href="#" onclick="removeCache()">清空缓存</a></li>
                        <li id="password"><a href="{:U('Admin/Page/password')}">重置密码</a></li>
                    </ul>
                    </li>
                    <li id="logout"><a href="{:U('Admin/Index/doLogout')}">退出系统</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        </nav>

        <div class="container-fluid theme-showcase" role="main">
            <block name="content"></block>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            function removeCache() {
                $.post("{:U('Admin/Index/removeCache')}", {
                        token: 'admin'
                    }, function(result) {
                        if(result.success == true) {
                            alert('清空缓存成功！');
                        } else {
                            alert('false');
                        }
                });
            }
        </script>
        <block name="script"></block>
    </body>
</html>
