<extend name="base" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/DataTables/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/datatables-tabletools/css/dataTables.tableTools.css">
<link rel="stylesheet" href="__PUBLIC__/Common/DataTables.Editor/css/dataTables.editor.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
</block>
<block name="content">
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">图文消息</div>
        <div style="margin:15px 15px 0px 15px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>描述</th>
                        <th>图片URL</th>
                        <th>内容URL</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
<script src="__PUBLIC__/Common/DataTables.Editor/js/dataTables.editor.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('#news').addClass('active');
$.fn.dataTable.TableTools.defaults.sSwfPath='__PUBLIC__/bower_components/datatables-tabletools/swf/copy_csv_xls_pdf.swf';
editor = new $.fn.dataTable.Editor( {
        ajax: "{:U('Admin/News/crud')}",
        table: "#table",
        idSrc: "id",
        fields: [
                    {
                        label: "标题",
                        name: "title"
                    },
                    {
                        label: "描述",
                        name: "description",
                    },
                    {
                        label: "图片URL",
                        name: "picUrl",
                    },
                    {
                        label: "内容URL",
                        name: "url",
                    }
                ]
    } );
$('#table').dataTable({
    dom: "Tfrtip",
    searching: true,
    lengthChange: false,
    processing: true,
    serverSide: true,
    order: [[ 0, "desc" ]],
    ajax: "{:U('Admin/News/index')}",
    columns: [
                { "data": "id" , "orderable": true },
                { "data": "title" , "orderable": false },
                { "data": "description" , "orderable": false },
                { "data": "picUrl" , "orderable": false },
                { "data": "url" , "orderable": false }
            ],
    tableTools: {
        sRowSelect: "single",
        aButtons: [
            "copy",
            "print",
            {
                "sExtends":    "collection",
                "sButtonText": "Save",
                "aButtons":    [ "csv", "xls", "pdf" ]
            },
            { sExtends: "editor_create", editor: editor },
            { sExtends: "editor_edit",   editor: editor },
            { sExtends: "editor_remove", editor: editor }
        ]
        }
        });
$('#table_filter').hide();
});
</script>
</block>
