<extend name="base" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/DataTables/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/datatables-tabletools/css/dataTables.tableTools.css">
<link rel="stylesheet" href="__PUBLIC__/Common/DataTables.Editor/css/dataTables.editor.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
</block>
<block name="content">
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">普通客户</div>
        <div style="margin:15px 15px 0px 15px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>注册ID</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>固定电话</th>
                        <th>手机</th>
                        <th>QQ</th>
                        <th>省</th>
                        <th>市</th>
                        <th>县</th>
                        <th>显示屏应用环境</th>
                        <th>安装时间</th>
                        <th>数据更新周期</th>
                        <th>数据更新方式</th>
                        <th>是否处理</th>
                        <th>是否审核</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
<script src="__PUBLIC__/Common/DataTables.Editor/js/dataTables.editor.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('#register').addClass('active');
$('#register1').addClass('active');
$.fn.dataTable.TableTools.defaults.sSwfPath='__PUBLIC__/bower_components/datatables-tabletools/swf/copy_csv_xls_pdf.swf';
editor = new $.fn.dataTable.Editor( {
        ajax: "{:U('Admin/Register/crud')}",
        table: "#table",
        idSrc: "id",
        fields: [
                    {
                        label: "注册类型",
                        name: "type",
                        type: "select",
                        ipOpts: [
                            { label: "普通客户", value : 1},
                            { label: "工程人员", value : 2},
                            { label: "销售人员", value : 3},
                            { label: "申请经销商", value : 4},
                            { label: "经销商", value : 5},
                            { label: "代理商", value : 6},
                            { label: "特邀客户", value : 7}
                        ],
                        default: 1
                    },
                    {
                        label: "姓名",
                        name: "name"
                    },
                    {
                        label: "性别",
                        name: "sex",
                        type: "radio",
                        ipOpts: [
                            { label: "男", value : 1},
                            { label: "女", value : 0}
                        ],
                        default: 0
                    },
                    {
                        label: "固定电话",
                        name: "telephone"
                    },
                    {
                        label: "手机",
                        name: "phone"
                    },
                    {
                        label: "QQ",
                        name: "qq"
                    },
                    {
                        label: "省",
                        name: "pr"
                    },
                    {
                        label: "市",
                        name: "ci"
                    },
                    {
                        label: "县",
                        name: "co"
                    },
                    {
                        label: "显示屏应用环境",
                        name: "scene",
                        type: "select",
                        ipOpts: [
                            { label: "未选择", value : 0},
                            { label: "个人", value : 1},
                            { label: "公司", value : 2},
                            { label: "医院", value : 3},
                            { label: "政府", value : 4}
                        ],
                        default: 0
                    },
                    {
                        label: "安装时间",
                        name: "installDate"
                    },
                    {
                        label: "软件更新周期",
                        name: "updateCycle",
                        type: "select",
                        ipOpts: [
                            { label: "未选择", value : 0},
                            { label: "年", value : 1},
                            { label: "月", value : 2},
                            { label: "星期", value : 3},
                            { label: "日", value : 4}
                        ],
                        default: 0
                    },
                    {
                        label: "软件更新方式",
                        name: "updateType",
                        type: "select",
                        ipOpts: [
                            { label: "未选择", value : 0},
                            { label: "固定电脑", value : 1},
                            { label: "临时电脑", value : 2},
                            { label: "笔记本", value : 3},
                            { label: "手机", value : 4},
                            { label: "其他人帮助更新", value : 5}
                        ],
                        default: 0
                    },
                    {
                        label: "是否审核",
                        name: "status",
                        type: "radio",
                        ipOpts: [
                            { label: "已审核", value : 1},
                            { label: "未审核", value : 0}
                        ],
                        default: 0
                    }
                ]
    } );
editor1 = new $.fn.dataTable.Editor( {
        ajax: "{:U('Admin/Register/crud')}",
        table: "#table",
        idSrc: "id",
        fields: [
                    {
                        label: "是否处理",
                        name: "processed",
                        type: "radio",
                        ipOpts: [
                            { label: "已处理", value : 1},
                            { label: "未处理", value : 0}
                        ],
                        default: 0
                    }
                ]
    } );
$('#table').dataTable({
    dom: "Tfrtip",
    searching: true,
    lengthChange: false,
    processing: true,
    serverSide: true,
    order: [[ 0, "desc" ]],
    ajax: "{:U('Admin/Register/index/type/1')}",
    columns: [
                { "data": "id" , "orderable": true },
                { "data": "name" , "orderable": false },
                { "data": "sex" , "orderable": false, "render": 
                    function (data, type, row) {
                    return row.sex == 1 ? '男' : '女'; }
                },
                { "data": "telephone" , "orderable": true },
                { "data": "phone" , "orderable": false },
                { "data": "qq" , "orderable": false },
                { "data": "pr" , "orderable": true },
                { "data": "ci" , "orderable": true },
                { "data": "co" , "orderable": true },
                { "data": "scene" , "orderable": false, "render":
                    function (data, type, row){
                        switch(row.scene){
                            case '0':
                                return '未选择';
                                break;
                            case '1':
                                return '个人';
                                break;
                            case '2':
                                return '公司';
                                break;
                            case '3':
                                return '医院';
                                break;
                            case '4':
                                return '政府';
                                break;
                            default:
                                return '未选择';
                                break;
                        }
                }},
                { "data": "installDate" , "orderable": false },
                { "data": "updateCycle" , "orderable": false, "render":
                    function (data, type, row){
                        switch(row.updateCycle){
                            case '0':
                                return '未选择';
                                break;
                            case '1':
                                return '年';
                                break;
                            case '2':
                                return '月';
                                break;
                            case '3':
                                return '星期';
                                break;
                            case '4':
                                return '日';
                                break;
                            default:
                                return '未选择';
                                break;
                        }
                }},
                { "data": "updateType" , "orderable": false, "render":
                    function (data, type, row){
                        switch(row.updateType){
                            case '0':
                                return '未选择';
                                break;
                            case '1':
                                return '固定电脑';
                                break;
                            case '2':
                                return '临时电脑';
                                break;
                            case '3':
                                return '笔记本';
                                break;
                            case '4':
                                return '手机';
                                break;
                            case '5':
                                return '其他人帮助更新';
                                break;
                            default:
                                return '未选择';
                                break;
                        }
                }},
                { "data": "processed" , "orderable": false, "render": 
                    function (data, type, row) {
                    return row.processed == 1 ? '已处理' : '未处理'; }
                },
                { "data": "status" , "orderable": false, "render": 
                    function (data, type, row) {
                    return row.status == 1 ? '已审核' : '未审核'; }
                }
            ],
    tableTools: {
        sRowSelect: "single",
        aButtons: [
            "copy",
            "print",
            { sExtends: "editor_edit",   editor: editor },
            { sExtends: "editor_remove", editor: editor },
            { sExtends: "editor_edit",   sButtonText: "Process", editor: editor1 }
        ]
        }
        });
});
</script>
</block>
