<extend name="base" />
<block name="content">
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">群发模板消息</div>
        <div style="margin:15px 15px 0px 15px">

    <form id="form" class="form-horizontal" action="{:U('Admin/Send/send')}" method="post" >

        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">用户群组</label>
            <div class="col-sm-8">
                <select id="type" name="type" class="form-control" autofocus>
                    <option value="1">普通用户</option>
                    <option value="2">工程人员</option>
                    <option value="3">销售人员</option>
                    <option value="4">申请经销商</option>
                    <option value="5">经销商</option>
                    <option value="6">代理商</option>
                    <option value="7">特邀客户</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">模板标题</label>
            <div class="col-sm-8">
                <input class="form-control" name="title" required>
            </div>
        </div>

        <div class="form-group">
            <label for="schedule" class="col-sm-2 control-label">事件</label>
            <div class="col-sm-8">
                <input class="form-control" name="schedule" required>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-8">
                <input class="form-control" name="remark" required>
            </div>
        </div>

        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">链接</label>
            <div class="col-sm-8">
                <input class="form-control" name="url" required>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8" style="margin-top:15px">
        <button type="submit" id="subbutton" class="btn btn-success btn-lg btn-block">
            提交
        </button>
        </div>
    </form>
        </div>
</div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="__PUBLIC__/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#send').addClass('active');
    $('#form').validate({
        submitHandler: function(form) {
            $('#subbutton').attr('disabled', 'disabled');
            form.submit();
        }
    });
});
</script>
</block>
